@import url("SanFranciscoText_Light/stylesheet.css");
@import url("SanFranciscoText_Semibold/stylesheet.css");
body {
	margin: 0;
	padding: 0
}
.container {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%
}
@media only screen and (min-width: 601px) {
	.container {
		width: 85%
	}
}
@media only screen and (min-width: 901px) {
	.container {
		width: 70%
	}
}
.container .row {
	margin-left: -.75rem;
	margin-right: -.75rem
}
.section {
	padding-top: 1rem;
	padding-bottom: 1rem
}
.section.no-pad {
	padding: 0
}
.section.no-pad-bot {
	padding-bottom: 0
}
.section.no-pad-top {
	padding-top: 0
}
.row {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px
}
.row:after {
	content: "";
	display: table;
	clear: both
}
.row .col {
	float: left;
	box-sizing: border-box;
	padding: 0 .75rem;
	min-height: 1px
}
.row .col[class*="push-"], .row .col[class*="pull-"] {
	position: relative
}
.row .col.s1, .row .col.m1, .row .col.l1, .row .col.xl1 {
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s2, .row .col.m2, .row .col.l2, .row .col.xl2 {
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s3, .row .col.m3, .row .col.l3, .row .col.xl3 {
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s4, .row .col.m4, .row .col.l4, .row .col.xl4 {
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s5, .row .col.m5, .row .col.l5, .row .col.xl5 {
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s6, .row .col.m6, .row .col.l6, .row .col.xl6 {
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s7, .row .col.m7, .row .col.l7, .row .col.xl7 {
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s8, .row .col.m8, .row .col.l8, .row .col.xl8 {
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s9, .row .col.m9, .row .col.l9, .row .col.xl9 {
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s10, .row .col.m10, .row .col.l10, .row .col.xl10 {
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s11, .row .col.m11, .row .col.l11, .row .col.xl11 {
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s12, .row .col.m12, .row .col.l12, .row .col.xl12 {
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s1 {
	width: 8.33333%
}
.row .col.s2 {
	width: 16.66667%
}
.row .col.s3 {
	width: 25%
}
.row .col.s4 {
	width: 33.33333%
}
.row .col.s5 {
	width: 41.66667%
}
.row .col.s6 {
	width: 50%
}
.row .col.s7 {
	width: 58.33333%
}
.row .col.s8 {
	width: 66.66667%
}
.row .col.s9 {
	width: 75%
}
.row .col.s10 {
	width: 83.33333%
}
.row .col.s11 {
	width: 91.66667%
}
.row .col.s12 {
	width: 100%
}
.row .col.offset-s1 {
	margin-left: 8.33333%
}
.row .col.pull-s1 {
	right: 8.33333%
}
.row .col.push-s1 {
	left: 8.33333%
}
.row .col.offset-s2 {
	margin-left: 16.66667%
}
.row .col.pull-s2 {
	right: 16.66667%
}
.row .col.push-s2 {
	left: 16.66667%
}
.row .col.offset-s3 {
	margin-left: 25%
}
.row .col.pull-s3 {
	right: 25%
}
.row .col.push-s3 {
	left: 25%
}
.row .col.offset-s4 {
	margin-left: 33.33333%
}
.row .col.pull-s4 {
	right: 33.33333%
}
.row .col.push-s4 {
	left: 33.33333%
}
.row .col.offset-s5 {
	margin-left: 41.66667%
}
.row .col.pull-s5 {
	right: 41.66667%
}
.row .col.push-s5 {
	left: 41.66667%
}
.row .col.offset-s6 {
	margin-left: 50%
}
.row .col.pull-s6 {
	right: 50%
}
.row .col.push-s6 {
	left: 50%
}
.row .col.offset-s7 {
	margin-left: 58.33333%
}
.row .col.pull-s7 {
	right: 58.33333%
}
.row .col.push-s7 {
	left: 58.33333%
}
.row .col.offset-s8 {
	margin-left: 66.66667%
}
.row .col.pull-s8 {
	right: 66.66667%
}
.row .col.push-s8 {
	left: 66.66667%
}
.row .col.offset-s9 {
	margin-left: 75%
}
.row .col.pull-s9 {
	right: 75%
}
.row .col.push-s9 {
	left: 75%
}
.row .col.offset-s10 {
	margin-left: 83.33333%
}
.row .col.pull-s10 {
	right: 83.33333%
}
.row .col.push-s10 {
	left: 83.33333%
}
.row .col.offset-s11 {
	margin-left: 91.66667%
}
.row .col.pull-s11 {
	right: 91.66667%
}
.row .col.push-s11 {
	left: 91.66667%
}
.row .col.offset-s12 {
	margin-left: 100%
}
.row .col.pull-s12 {
	right: 100%
}
.row .col.push-s12 {
	left: 100%
}
@media only screen and (min-width: 601px) {
	.row .col.m1 {
		width: 8.33333%
	}
	.row .col.m2 {
		width: 16.66667%
	}
	.row .col.m3 {
		width: 25%
	}
	.row .col.m4 {
		width: 33.33333%
	}
	.row .col.m5 {
		width: 41.66667%
	}
	.row .col.m6 {
		width: 50%
	}
	.row .col.m7 {
		width: 58.33333%
	}
	.row .col.m8 {
		width: 66.66667%
	}
	.row .col.m9 {
		width: 75%
	}
	.row .col.m10 {
		width: 83.33333%
	}
	.row .col.m11 {
		width: 91.66667%
	}
	.row .col.m12 {
		width: 100%
	}
	.row .col.offset-m1 {
		margin-left: 8.33333%
	}
	.row .col.pull-m1 {
		right: 8.33333%
	}
	.row .col.push-m1 {
		left: 8.33333%
	}
	.row .col.offset-m2 {
		margin-left: 16.66667%
	}
	.row .col.pull-m2 {
		right: 16.66667%
	}
	.row .col.push-m2 {
		left: 16.66667%
	}
	.row .col.offset-m3 {
		margin-left: 25%
	}
	.row .col.pull-m3 {
		right: 25%
	}
	.row .col.push-m3 {
		left: 25%
	}
	.row .col.offset-m4 {
		margin-left: 33.33333%
	}
	.row .col.pull-m4 {
		right: 33.33333%
	}
	.row .col.push-m4 {
		left: 33.33333%
	}
	.row .col.offset-m5 {
		margin-left: 41.66667%
	}
	.row .col.pull-m5 {
		right: 41.66667%
	}
	.row .col.push-m5 {
		left: 41.66667%
	}
	.row .col.offset-m6 {
		margin-left: 50%
	}
	.row .col.pull-m6 {
		right: 50%
	}
	.row .col.push-m6 {
		left: 50%
	}
	.row .col.offset-m7 {
		margin-left: 58.33333%
	}
	.row .col.pull-m7 {
		right: 58.33333%
	}
	.row .col.push-m7 {
		left: 58.33333%
	}
	.row .col.offset-m8 {
		margin-left: 66.66667%
	}
	.row .col.pull-m8 {
		right: 66.66667%
	}
	.row .col.push-m8 {
		left: 66.66667%
	}
	.row .col.offset-m9 {
		margin-left: 75%
	}
	.row .col.pull-m9 {
		right: 75%
	}
	.row .col.push-m9 {
		left: 75%
	}
	.row .col.offset-m10 {
		margin-left: 83.33333%
	}
	.row .col.pull-m10 {
		right: 83.33333%
	}
	.row .col.push-m10 {
		left: 83.33333%
	}
	.row .col.offset-m11 {
		margin-left: 91.66667%
	}
	.row .col.pull-m11 {
		right: 91.66667%
	}
	.row .col.push-m11 {
		left: 91.66667%
	}
	.row .col.offset-m12 {
		margin-left: 100%
	}
	.row .col.pull-m12 {
		right: 100%
	}
	.row .col.push-m12 {
		left: 100%
	}
}
@media only screen and (min-width: 901px) {
	.row .col.l1 {
		width: 8.33333%
	}
	.row .col.l2 {
		width: 16.66667%
	}
	.row .col.l3 {
		width: 25%
	}
	.row .col.l4 {
		width: 33.33333%
	}
	.row .col.l5 {
		width: 41.66667%
	}
	.row .col.l6 {
		width: 50%
	}
	.row .col.l7 {
		width: 58.33333%
	}
	.row .col.l8 {
		width: 66.66667%
	}
	.row .col.l9 {
		width: 75%
	}
	.row .col.l10 {
		width: 83.33333%
	}
	.row .col.l11 {
		width: 91.66667%
	}
	.row .col.l12 {
		width: 100%
	}
	.row .col.offset-l1 {
		margin-left: 8.33333%
	}
	.row .col.pull-l1 {
		right: 8.33333%
	}
	.row .col.push-l1 {
		left: 8.33333%
	}
	.row .col.offset-l2 {
		margin-left: 16.66667%
	}
	.row .col.pull-l2 {
		right: 16.66667%
	}
	.row .col.push-l2 {
		left: 16.66667%
	}
	.row .col.offset-l3 {
		margin-left: 25%
	}
	.row .col.pull-l3 {
		right: 25%
	}
	.row .col.push-l3 {
		left: 25%
	}
	.row .col.offset-l4 {
		margin-left: 33.33333%
	}
	.row .col.pull-l4 {
		right: 33.33333%
	}
	.row .col.push-l4 {
		left: 33.33333%
	}
	.row .col.offset-l5 {
		margin-left: 41.66667%
	}
	.row .col.pull-l5 {
		right: 41.66667%
	}
	.row .col.push-l5 {
		left: 41.66667%
	}
	.row .col.offset-l6 {
		margin-left: 50%
	}
	.row .col.pull-l6 {
		right: 50%
	}
	.row .col.push-l6 {
		left: 50%
	}
	.row .col.offset-l7 {
		margin-left: 58.33333%
	}
	.row .col.pull-l7 {
		right: 58.33333%
	}
	.row .col.push-l7 {
		left: 58.33333%
	}
	.row .col.offset-l8 {
		margin-left: 66.66667%
	}
	.row .col.pull-l8 {
		right: 66.66667%
	}
	.row .col.push-l8 {
		left: 66.66667%
	}
	.row .col.offset-l9 {
		margin-left: 75%
	}
	.row .col.pull-l9 {
		right: 75%
	}
	.row .col.push-l9 {
		left: 75%
	}
	.row .col.offset-l10 {
		margin-left: 83.33333%
	}
	.row .col.pull-l10 {
		right: 83.33333%
	}
	.row .col.push-l10 {
		left: 83.33333%
	}
	.row .col.offset-l11 {
		margin-left: 91.66667%
	}
	.row .col.pull-l11 {
		right: 91.66667%
	}
	.row .col.push-l11 {
		left: 91.66667%
	}
	.row .col.offset-l12 {
		margin-left: 100%
	}
	.row .col.pull-l12 {
		right: 100%
	}
	.row .col.push-l12 {
		left: 100%
	}
}
@media only screen and (min-width: 1201px) {
	.row .col.xl1 {
		width: 8.33333%
	}
	.row .col.xl2 {
		width: 16.66667%
	}
	.row .col.xl3 {
		width: 25%
	}
	.row .col.xl4 {
		width: 33.33333%
	}
	.row .col.xl5 {
		width: 41.66667%
	}
	.row .col.xl6 {
		width: 50%
	}
	.row .col.xl7 {
		width: 58.33333%
	}
	.row .col.xl8 {
		width: 66.66667%
	}
	.row .col.xl9 {
		width: 75%
	}
	.row .col.xl10 {
		width: 83.33333%
	}
	.row .col.xl11 {
		width: 91.66667%
	}
	.row .col.xl12 {
		width: 100%
	}
	.row .col.offset-xl1 {
		margin-left: 8.33333%
	}
	.row .col.pull-xl1 {
		right: 8.33333%
	}
	.row .col.push-xl1 {
		left: 8.33333%
	}
	.row .col.offset-xl2 {
		margin-left: 16.66667%
	}
	.row .col.pull-xl2 {
		right: 16.66667%
	}
	.row .col.push-xl2 {
		left: 16.66667%
	}
	.row .col.offset-xl3 {
		margin-left: 25%
	}
	.row .col.pull-xl3 {
		right: 25%
	}
	.row .col.push-xl3 {
		left: 25%
	}
	.row .col.offset-xl4 {
		margin-left: 33.33333%
	}
	.row .col.pull-xl4 {
		right: 33.33333%
	}
	.row .col.push-xl4 {
		left: 33.33333%
	}
	.row .col.offset-xl5 {
		margin-left: 41.66667%
	}
	.row .col.pull-xl5 {
		right: 41.66667%
	}
	.row .col.push-xl5 {
		left: 41.66667%
	}
	.row .col.offset-xl6 {
		margin-left: 50%
	}
	.row .col.pull-xl6 {
		right: 50%
	}
	.row .col.push-xl6 {
		left: 50%
	}
	.row .col.offset-xl7 {
		margin-left: 58.33333%
	}
	.row .col.pull-xl7 {
		right: 58.33333%
	}
	.row .col.push-xl7 {
		left: 58.33333%
	}
	.row .col.offset-xl8 {
		margin-left: 66.66667%
	}
	.row .col.pull-xl8 {
		right: 66.66667%
	}
	.row .col.push-xl8 {
		left: 66.66667%
	}
	.row .col.offset-xl9 {
		margin-left: 75%
	}
	.row .col.pull-xl9 {
		right: 75%
	}
	.row .col.push-xl9 {
		left: 75%
	}
	.row .col.offset-xl10 {
		margin-left: 83.33333%
	}
	.row .col.pull-xl10 {
		right: 83.33333%
	}
	.row .col.push-xl10 {
		left: 83.33333%
	}
	.row .col.offset-xl11 {
		margin-left: 91.66667%
	}
	.row .col.pull-xl11 {
		right: 91.66667%
	}
	.row .col.push-xl11 {
		left: 91.66667%
	}
	.row .col.offset-xl12 {
		margin-left: 100%
	}
	.row .col.pull-xl12 {
		right: 100%
	}
	.row .col.push-xl12 {
		left: 100%
	}
}
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0);
		transform: translateY(0)
	}
	40% {
		-moz-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	60% {
		-moz-transform: translateY(-15px);
		transform: translateY(-15px)
	}
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px)
	}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	40% {
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	60% {
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px)
	}
}
.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite
}
@-moz-keyframes bounce-right {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateX(0);
		transform: translateX(0)
	}
	40% {
		-moz-transform: translateX(-30px);
		transform: translateX(-30px)
	}
	60% {
		-moz-transform: translateX(-15px);
		transform: translateX(-15px)
	}
}
@-webkit-keyframes bounce-right {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
	40% {
		-webkit-transform: translateX(-30px);
		transform: translateX(-30px)
	}
	60% {
		-webkit-transform: translateX(-15px);
		transform: translateX(-15px)
	}
}
@keyframes bounce-right {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
	40% {
		-moz-transform: translateX(-30px);
		-ms-transform: translateX(-30px);
		-webkit-transform: translateX(-30px);
		transform: translateX(-30px)
	}
	60% {
		-moz-transform: translateX(-15px);
		-ms-transform: translateX(-15px);
		-webkit-transform: translateX(-15px);
		transform: translateX(-15px)
	}
}
.bounce-right {
	-moz-animation: bounce-right 2s infinite;
	-webkit-animation: bounce-right 2s infinite;
	animation: bounce-right 2s infinite
}
/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2017 Daniel Eden
 */

.animated {
	animation-duration: 1s;
	animation-fill-mode: both
}
.animated.infinite {
	animation-iteration-count: infinite
}
.animated.hinge {
	animation-duration: 2s
}
.animated.flipOutX, .animated.flipOutY, .animated.bounceIn, .animated.bounceOut {
	animation-duration: .75s
}
@keyframes fadeIn {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
.fadeIn {
	animation-name: fadeIn
}
@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0)
	}
	to {
		opacity: 1;
		transform: none
	}
}
.fadeInDown {
	animation-name: fadeInDown
}
@keyframes fadeInDownBig {
	from {
		opacity: 0;
		transform: translate3d(0, -2000px, 0)
	}
	to {
		opacity: 1;
		transform: none
	}
}
.fadeInDownBig {
	animation-name: fadeInDownBig
}
@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate3d(-100%, 0, 0)
	}
	to {
		opacity: 1;
		transform: none
	}
}
.fadeInLeft {
	animation-name: fadeInLeft
}
@keyframes fadeInLeftBig {
	from {
		opacity: 0;
		transform: translate3d(-2000px, 0, 0)
	}
	to {
		opacity: 1;
		transform: none
	}
}
.fadeInLeftBig {
	animation-name: fadeInLeftBig
}
@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translate3d(100%, 0, 0)
	}
	to {
		opacity: 1;
		transform: none
	}
}
.fadeInRight {
	animation-name: fadeInRight
}
@keyframes fadeInRightBig {
	from {
		opacity: 0;
		transform: translate3d(2000px, 0, 0)
	}
	to {
		opacity: 1;
		transform: none
	}
}
.fadeInRightBig {
	animation-name: fadeInRightBig
}
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 10%, 0)
	}
	to {
		opacity: 1;
		transform: none
	}
}
.fadeInUp {
	animation-name: fadeInUp
}
@keyframes fadeInUpBig {
	from {
		opacity: 0;
		transform: translate3d(0, 2000px, 0)
	}
	to {
		opacity: 1;
		transform: none
	}
}
.fadeInUpBig {
	animation-name: fadeInUpBig
}
@keyframes fadeOut {
	from {
		opacity: 1
	}
	to {
		opacity: 0
	}
}
.fadeOut {
	animation-name: fadeOut
}
@keyframes fadeOutDown {
	from {
		opacity: 1
	}
	to {
		opacity: 0;
		transform: translate3d(0, 100%, 0)
	}
}
.fadeOutDown {
	animation-name: fadeOutDown
}
@keyframes fadeOutDownBig {
	from {
		opacity: 1
	}
	to {
		opacity: 0;
		transform: translate3d(0, 2000px, 0)
	}
}
.fadeOutDownBig {
	animation-name: fadeOutDownBig
}
@keyframes fadeOutLeft {
	from {
		opacity: 1
	}
	to {
		opacity: 0;
		transform: translate3d(-100%, 0, 0)
	}
}
.fadeOutLeft {
	animation-name: fadeOutLeft
}
@keyframes fadeOutLeftBig {
	from {
		opacity: 1
	}
	to {
		opacity: 0;
		transform: translate3d(-2000px, 0, 0)
	}
}
.fadeOutLeftBig {
	animation-name: fadeOutLeftBig
}
@keyframes fadeOutRight {
	from {
		opacity: 1
	}
	to {
		opacity: 0;
		transform: translate3d(100%, 0, 0)
	}
}
.fadeOutRight {
	animation-name: fadeOutRight
}
@keyframes fadeOutRightBig {
	from {
		opacity: 1
	}
	to {
		opacity: 0;
		transform: translate3d(2000px, 0, 0)
	}
}
.fadeOutRightBig {
	animation-name: fadeOutRightBig
}
@keyframes fadeOutUp {
	from {
		opacity: 1
	}
	to {
		opacity: 0;
		transform: translate3d(0, -100%, 0)
	}
}
.fadeOutUp {
	animation-name: fadeOutUp
}
@keyframes fadeOutUpBig {
	from {
		opacity: 1
	}
	to {
		opacity: 0;
		transform: translate3d(0, -2000px, 0)
	}
}
.fadeOutUpBig {
	animation-name: fadeOutUpBig
}
@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3)
	}
	50% {
		opacity: 1
	}
}
.zoomIn {
	animation-name: zoomIn
}
@keyframes zoomInDown {
	from {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
	}
	60% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
	}
}
.zoomInDown {
	animation-name: zoomInDown
}
@keyframes zoomInLeft {
	from {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
	}
	60% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
	}
}
.zoomInLeft {
	animation-name: zoomInLeft
}
@keyframes zoomInRight {
	from {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
	}
	60% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
	}
}
.zoomInRight {
	animation-name: zoomInRight
}
@keyframes zoomInUp {
	from {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
	}
	60% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
	}
}
.zoomInUp {
	animation-name: zoomInUp
}
@keyframes zoomOut {
	from {
		opacity: 1
	}
	50% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3)
	}
	to {
		opacity: 0
	}
}
.zoomOut {
	animation-name: zoomOut
}
@keyframes zoomOutDown {
	40% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
	}
	to {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
		transform-origin: center bottom;
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
	}
}
.zoomOutDown {
	animation-name: zoomOutDown
}
@keyframes zoomOutLeft {
	40% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0)
	}
	to {
		opacity: 0;
		transform: scale(0.1) translate3d(-2000px, 0, 0);
		transform-origin: left center
	}
}
.zoomOutLeft {
	animation-name: zoomOutLeft
}
@keyframes zoomOutRight {
	40% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0)
	}
	to {
		opacity: 0;
		transform: scale(0.1) translate3d(2000px, 0, 0);
		transform-origin: right center
	}
}
.zoomOutRight {
	animation-name: zoomOutRight
}
@keyframes zoomOutUp {
	40% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
	}
	to {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
		transform-origin: center bottom;
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
	}
}
.zoomOutUp {
	animation-name: zoomOutUp
}
@keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible
	}
	to {
		transform: translate3d(0, 0, 0)
	}
}
.slideInDown {
	animation-name: slideInDown
}
@keyframes slideInLeft {
	from {
		transform: translate3d(-100%, 0, 0);
		visibility: visible
	}
	to {
		transform: translate3d(0, 0, 0)
	}
}
.slideInLeft {
	animation-name: slideInLeft
}
@keyframes slideInRight {
	from {
		transform: translate3d(100%, 0, 0);
		visibility: visible
	}
	to {
		transform: translate3d(0, 0, 0)
	}
}
.slideInRight {
	animation-name: slideInRight
}
@keyframes slideInUp {
	from {
		transform: translate3d(0, 100%, 0);
		visibility: visible
	}
	to {
		transform: translate3d(0, 0, 0)
	}
}
.slideInUp {
	animation-name: slideInUp
}
@keyframes slideOutDown {
	from {
		transform: translate3d(0, 0, 0)
	}
	to {
		visibility: hidden;
		transform: translate3d(0, 100%, 0)
	}
}
.slideOutDown {
	animation-name: slideOutDown
}
@keyframes slideOutLeft {
	from {
		transform: translate3d(0, 0, 0)
	}
	to {
		visibility: hidden;
		transform: translate3d(-100%, 0, 0)
	}
}
.slideOutLeft {
	animation-name: slideOutLeft
}
@keyframes slideOutRight {
	from {
		transform: translate3d(0, 0, 0)
	}
	to {
		visibility: hidden;
		transform: translate3d(100%, 0, 0)
	}
}
.slideOutRight {
	animation-name: slideOutRight
}
@keyframes slideOutUp {
	from {
		transform: translate3d(0, 0, 0)
	}
	to {
		visibility: hidden;
		transform: translate3d(0, -100%, 0)
	}
}
.slideOutUp {
	animation-name: slideOutUp
}
body {
	min-width: 320px;
	background-color: #2C3135;
	font-family: SanFranciscoText Light;
	color: #191D20;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
h1, h2 {
	padding: 0;
	margin: 0;
	font-family: SanFranciscoText Semibold;
}
.cd-intro-block {
	background-color: #2C3135;
	transition: background-color .5s ease, transform 0.5s cubic-bezier(0.67, 0.15, 0.83, 0.83)
}
.cd-intro-block.light-mode {
	background-color: #FFF
}
.cd-intro-block.light-mode:after {
	background-image: url("../resources/img/cd-arrow-back-black.svg")
}
.cd-intro-block nav {
	margin-top: 30px
}
.cd-intro-block nav svg#logo {
	width: 76px
}
.cd-intro-block nav svg#logo g {
	transition: all .5s ease
}
.cd-intro-block nav.light-mode svg#logo g {
	fill: #191D20
}
.cd-intro-block nav .nav-links {
	display: none
}
.cd-intro-block nav .cd-btn {
	margin-right: 40px;
	padding-bottom: 5px;
	transition: all .5s ease
}
.cd-intro-block nav .cd-btn:hover {
	border-bottom: 1px solid #FFF
}
.cd-intro-block nav .cd-btn.light-mode {
	color: #191D20
}
.cd-intro-block nav .cd-btn.light-mode:hover {
	border-color: #191D20
}
.cd-intro-block nav .toggle-container {
	position: relative;
	float: right;
	margin-right: 30px
}
.cd-intro-block nav .toggle-container .sun-icon, .cd-intro-block nav .toggle-container .moon-icon {
	height: 18px;
	width: 18px;
	position: absolute;
	display: inline-block;
	top: 0
}
.cd-intro-block nav .toggle-container .sun-icon svg, .cd-intro-block nav .toggle-container .moon-icon svg {
	height: 100%;
	width: 100%
}
.cd-intro-block nav .toggle-container .sun-icon svg g, .cd-intro-block nav .toggle-container .moon-icon svg g {
	fill: #FFF
}
.cd-intro-block nav .toggle-container .moon-icon {
	left: -26px;
	top: 5px;
	height: 16px;
	width: 16px
}
.cd-intro-block nav .toggle-container .sun-icon {
	right: -30px;
	top: 3px;
	opacity: .5
}
.cd-intro-block nav .toggle-container.light-mode .moon-icon svg g, .cd-intro-block nav .toggle-container.light-mode .sun-icon svg g {
	fill: #191D20
}
.cd-intro-block nav .toggle-container.light-mode .moon-icon {
	opacity: .5
}
.cd-intro-block nav .toggle-container.light-mode .sun-icon {
	opacity: 1
}
.cd-intro-block nav input[type="checkbox"]#toggle {
	display: none
}
.cd-intro-block nav input[type="checkbox"]#toggle~label[for="toggle"] {
	position: relative;
	cursor: pointer;
	user-select: none;
	width: 50px;
	display: inline-block;
	background-color: #25262C;
	border-radius: 50px;
	padding: 2px
}
.cd-intro-block nav input[type="checkbox"]#toggle~label[for="toggle"]::before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #EDEDED;
	transition: all 0.3s cubic-bezier(1, 0.01, 0, 1)
}
.cd-intro-block nav input[type="checkbox"]#toggle:checked~label[for="toggle"] {
	background-color: #2C3135
}
.cd-intro-block nav input[type="checkbox"]#toggle:checked~label[for="toggle"]::before {
	margin-left: calc(100% - 20px);
	background-color: #FFF
}
.cd-intro-block .content {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -144px;
	width: 288px;
	height: 120px;
	font-family: SanFranciscoText Light;
	font-weight: 800
}
.cd-intro-block .content .letter {
	position: absolute;
	font-size: 320px;
	line-height: 300px;
	top: -100px;
	left: 28px;
	z-index: 1;
	display: inline-block;
	color: rgba(255, 255, 255, 0.05);
	transition: color .5s ease
}
.cd-intro-block .content .letter.light-mode {
	color: #ededed
}
.cd-intro-block .content h1 {
	font-size: 50px;
	color: #FFF;
	transition: color .5s ease;
	text-align: center;
	z-index: 2;
	position: relative
}
.cd-intro-block .content h1.light-mode {
	color: #191D20
}
.cd-intro-block .arrow-bottom {
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -50px;
	width: 100px;
	cursor: pointer;
	display: block;
	background-image: url("../resources/img/long-arrow-down.svg");
	background-size: 37px 37px;
	background-repeat: no-repeat;
	background-position: center;
	height: 100px
}
.cd-intro-block .arrow-bottom.light-mode {
	background-image: url("../resources/img/long-arrow-down-black.svg")
}
.cd-intro-block.items-visible {
	box-shadow: none
}
.cd-intro-block:after {
	background-size: contain;
	width: 18px;
	height: 18px
}
.cd-items-wrapper {
	background-color: #191D20
}
.cd-items-wrapper.light-mode {
	background-color: #EDEDED
}
.cd-items-wrapper .close-btn {
	background-color: tomato;
	position: absolute;
	height: 40px;
	width: 40px;
	right: 0;
	left: auto;
	bottom: 120px
}
.cd-items-wrapper .cd-slider li {
	box-shadow: none
}
.cd-items-wrapper .cd-slider li.no-shadow {
	box-shadow: none
}
.cd-items-wrapper .cd-slider li img {
	border-radius: 0.3em 0.3em 0 0
}
.cd-items-wrapper .cd-slider li .item-info {
	background-color: #fff;
	border-radius: 0 0 0.3em 0.3em
}
.cd-items-wrapper .cd-slider li .item-info p {
	opacity: 1;
	padding: 0;
	margin-top: 10px
}
.cd-items-wrapper .cd-slider li .item-info h2 {
	font-size: 20px;
	font-weight: 700
}
.cd-items-wrapper .cd-slider li .item-info span {
	display: inline-block;
	padding: 0 15px;
	border-radius: 10px;
	background-color: #EDEDED;
	color: #2C3135;
	font-size: 17px;
	line-height: 26px;
	font-weight: 300
}
footer {
	display: none
}
.cd-item-content {
	background-color: #fff
}
.cd-item-content p {
	margin: 0
}
.cd-item-content>div {
	padding: 0
}
.cd-item-content>div>* {
	max-width: none
}
.cd-item-content .header-bg {
	background-color: #191D20;
	padding: 60px 0 150px 0
}
.cd-item-content .header-bg nav {
	position: relative
}
.cd-item-content .header-bg nav svg g {
	fill: #FFF
}
.cd-item-content .header-bg nav .close {
	top: 60px;
	right: 60px;
	background-size: contain;
	width: 20px;
	height: 20px;
	position: fixed
}
.cd-item-content .header-bg .project-info {
	margin-top: 130px;
	max-width: 700px
}
.cd-item-content .header-bg .project-info  {
	font-size: 40px;
	font-family: SanFranciscoText Light;
	font-weight: 800;
	color: #FFF
}
.cd-item-content .header-bg .project-info .tags span {
	padding: 0 20px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.15);
	color: #EDEDED;
	display: inline-block;
	line-height: 30px;
	font-size: 14px;
	font-weight: 400;
	margin: 20px 5px 0px 0px
}
.cd-item-content .header-bg .project-info .description {
	color: #EDEDED;
	font-size: 22px;
	font-weight: 400;
	line-height: 30px;
	margin-top: 20px
}
.cd-item-content .content {
	color: #2C3135
}
.cd-item-content .content h2 {
	font-size: 30px;
	font-weight: 900;
	max-width: 700px;
	margin-top: 100px;
	margin-bottom: 20px
}
.cd-item-content .content p {
	max-width: 700px;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	color: #2C3135;
	margin-bottom: 30px
}
.cd-item-content .content img {
	margin-bottom: 30px
}
.cd-item-content .content img.first {
	margin-top: 150px
}
.cd-item-content .content .button {
	padding: 20px 25px;
	margin-right: 15px;
	border: 1px solid #191D20;
	display: inline-block;
	color: #191D20;
	font-size: 16px;
	margin-bottom: 30px
}
.cd-item-content .content .button:hover {
	background-color: #191D20;
	color: #FFF
}
.cd-item-content footer {
	background-color: #5861F4;
	position: relative;
	margin-top: 100px;
	height: auto;
	padding: 70px 0
}
.cd-item-content footer:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.15);
	transition: all 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22)
}
.cd-item-content footer:hover:after {
	width: 100%
}
.cd-item-content footer p {
	color: #FFF;
	font-size: 16px
}
.cd-item-content footer h3 {
	display: inline-block;
	font-size: 30px;
	font-weight: 900;
	margin-top: 3px;
	margin-right: 50px
}
.cd-item-content footer span {
	display: inline-block;
	width: 37px;
	height: 18px;
	background-image: url("../resources/img/long-arrow-right.svg");
	background-size: cover;
	background-repeat: no-repeat
}
#aboutme_content .content .button {
	margin-bottom: 30px
}
#aboutme_content .content p {
	font-size: 16px;
	margin-bottom: 20px
}
#aboutme_content .content p a {
	color: #191D20;
	border-bottom: 1px solid #191D20;
	padding-bottom: 2px
}
#aboutme_content .content .tags {
	margin: 0
}
#aboutme_content .content .tags span {
	padding: 0 20px;
	border-radius: 12px;
	background-color: #EDEDED;
	color: #191D20;
	display: inline-block;
	line-height: 30px;
	font-size: 14px;
	font-weight: 400;
	margin: 10px 5px 0px 0px
}
@media only screen and (min-width: 600px) {
	.cd-intro-block nav {
		margin-top: 60px
	}
	.cd-intro-block nav .nav-links {
		display: inline-block;
		float: right;
		margin-right: 30px;
		line-height: 26px;
		font-weight: 400;
		font-size: 16px
	}
	.cd-intro-block .arrow-bottom {
		bottom: 40px
	}
	.cd-intro-block .content {
		margin-left: -255px;
		width: 510px
	}
	.cd-intro-block .content .letter {
		left: 0
	}
	.cd-intro-block .content h1 {
		text-align: left;
		float: right;
		font-size: 50px;
		line-height: 50px
	}
	.cd-intro-block .content .cd-btn {
		letter-spacing: 1px;
		padding: 25px 20px;
		margin-right: 15px;
		width: auto
	}
	.cd-items-wrapper .cd-slider li .item-info h2 {
		font-size: 18px
	}
	.cd-items-wrapper .cd-slider li .item-info span {
		padding: 0 18px;
		font-size: 17px;
		line-height: 30px;
		margin-right: 4px
	}
}
@media only screen and (min-width: 900px) {
	.cd-intro-block nav .nav-links {
		margin-right: 80px
	}
	.cd-intro-block .content {
		width: 620px;
		height: 184px;
		margin-top: -92px;
		margin-left: -310px
	}
	.cd-intro-block .content .letter {
		font-size: 400px;
		line-height: 300px;
		margin-left: -30px;
		top: -90px
	}
	.cd-intro-block .content h1 {
		font-size: 46px;
		line-height: 46px
	}
	.cd-intro-block .content .cd-btn {
		color: #fff;
		letter-spacing: 2px;
		font-weight: 400;
		padding: 25px 25px;
		width: auto
	}
	.cd-items-wrapper .cd-slider li {
		top: 48%
	}
	.cd-items-wrapper .cd-slider li.nav_hover {
		transition: all 0.5s ease
	}
	.cd-items-wrapper .cd-slider li.nav_hover:hover {
		opacity: 0.7 !important
	}
	.cd-items-wrapper .cd-slider li .item-info h2 {
		font-size: 20px
	}
	footer {
		display: block;
		height: 80px;
		width: 100%;
		position: absolute;
		bottom: 0;
		z-index: 1
	}
	footer .content {
		margin-left: 9vw;
		margin-top: 25px;
		float: left
	}
	footer .content a {
		font-size: 10px;
		color: #656D78
	}
	footer .content p {
		font-size: 12px;
		color: #AAB2BD;
		margin-top: 4px
	}
	footer .content p span {
		font-size: 14px;
		color: #ED5564
	}
}
@media only screen and (min-width: 1400px) {
	.cd-intro-block .content {
		width: 780px;
		height: 230px;
		margin-top: -115px;
		margin-left: -390px
	}
	.cd-intro-block .content .letter {
		font-size: 450px;
		line-height: 350px
	}
	.cd-intro-block .content h1 {
		font-size: 60px;
		line-height: 58px;
		letter-spacing: -1px
	}
}
.header-bg2 {
	background-color: #04c870;
	padding: 60px 0 150px 0
}
.cd-item-content .header-bg2 nav {
	position: relative
}
.cd-item-content .header-bg2 nav svg g {
	fill: #FFF
}
.cd-item-content .header-bg2 nav .close {
	top: 60px;
	right: 60px;
	background-size: contain;
	width: 20px;
	height: 20px;
	position: fixed
}
.cd-item-content .header-bg2 .project-info {
	margin-top: 130px;
	max-width: 700px
}
.cd-item-content .header-bg2 .project-info h1 {
	font-size: 40px;
	font-family: SanFranciscoText Light;
	font-weight: 800;
	color: #FFF
}
.cd-item-content .header-bg2 .project-info .tags span {
	padding: 0 20px;
	border-radius: 12px;
	background-color: rgba(255, 255, 255, 0.15);
	color: #EDEDED;
	display: inline-block;
	line-height: 30px;
	font-size: 14px;
	font-weight: 400;
	margin: 20px 5px 0px 0px
}
.cd-item-content;
.header-bg3 {
	background-color: #1cbbd8;
	padding: 60px 0 150px 0
}
.cd-item-content .header-bg3 nav {
	position: relative
}
.cd-item-content .header-bg3 nav svg g {
	fill: #FFF
}
.cd-item-content .header-bg3 nav .close {
	top: 60px;
	right: 60px;
	background-size: contain;
	width: 20px;
	height: 20px;
	position: fixed
}
.cd-item-content